.inputsContainer {
    width: 500px;
    margin: 30px auto 50px auto;
}

.inputRows {
    width: 33%;
    float:left;
}

.inputRows label{
    float:left;
    width: 30%;
}

.inputRows input{
    float:left;
    width: 70%;
    height: 30px;
}

.inputCols {
    width: 33%;
    margin-left: 20px;
    float:left;
}

.inputCols label{
    float:left;
    width: 30%;
}

.inputCols input{
    float:left;
    width: 70%;
    height: 30px;
}

.btn-primary {
    height: 30px;
    padding: 0px 20px 0px 20px;
    margin-left: 20px;
}

.clear {
    clear: both;
}

.gameTitle {
    margin: 20px auto;
    text-align: center;
}

.eachGame {
    margin-top: 50px;
    position: relative;
}

.eachGameGrid {
    position: relative;
}

.eachGameGrid {
    margin: 0 auto;
}

.gridCol {
    border: gray 1px solid;
    width: 50px;
    height: 40px;
}

.gridCol:hover {
    box-shadow: 0px 0px 1px 1px #0069D9; 
}

.playBtn {
    height: 30px;
    padding: 0px 40px 0px 40px;
    display: block;
    margin: 10px auto;
}

hr {
    width: 50%;
    margin-bottom: 30px;
}

.hideGrid {
    height: 100%;
    background-color: red;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0px;
    width: 100%;
}